.list{
    padding: 4rem;
    background-color: $white-dark;
    width: 100%;
    margin: 50px auto;
    border-top: 6px solid $blue;
    line-height: 1.6;
    box-shadow: 5px 5px 10px 0px $blue-baby-dark-2;
    &__item{
        padding: 2rem 0;
        display: flex;
        align-items: center;
        &:not(:last-child){
            border-bottom: 1px solid rgba($blue , 0.5);
        }
    }
    &__text{
        margin-left: 3rem;
    }
}

@media (max-width: 480px) {
    .list__text{
        font-size: 1.4rem;
    }
    
    
}