@keyframes showTopText {
    0% { transform: translate3d(0, 100%, 0); }
    40%, 60% { transform: translate3d(0, 50%, 0); }
    100% { transform: translate3d(0, 0, 0); }
  }
@keyframes showBottomText {
    0% { transform: translate3d(0, -100%, 0); }
    100% { transform: translate3d(0, 0, 0); }
}
@keyframes titleBottom {
  0% { width: 0; }
  100% { width: 73%; }
}
@keyframes subTitleBottom {
  0% { width: 0; }
  100% { width: 100%; }
}