@mixin flexbox($jc:center,$ai:center) {
    display: flex;
    justify-content: $jc;
    align-items: $ai;
}

@mixin social-media($color) {
    border: 0.15rem solid $color;
    box-shadow: 0 0 15px $color;
    transition: all 0.5s ease;
    & svg{
        fill: $color;
        text-shadow: 0 0 15px $color;
        transition: all 0.5s ease;
    }
}